<div class="bio-container">
    <div class="edit-skills-btn-group">
        <div>
            <a class="button tertiary-btn" href="/profile">cancel</a>
        </div>
        <div>
            <button class="button tertiary-btn" id="save-bio-btn">save</button>
        </div>
    </div>
    <div>
        <div class="profile-container-white">
            <div>
                <div class="bio-header">
                    <h4>Bio</h4>
                </div>
                <div class="bio-content">
                    <textarea type="text" class="bio" autocomplete="off" id="bio-text" name="bio-text" rows="4rows" cols="50">{{user.provider_bio}}</textarea>
                </div>
            </div>
        </div>
        <div class="profile-container-white">
            <div>
                <div class="bio-header">
                    <h4>Knacks</h4>
                </div>
            </div>
            <form class="edit-skills-form">
                <div class="skills-options-list" id="checkbox">
                    {{#each skills as |skill_option|}}
                    {{>skill-option-details skill_option}}
                    {{/each}}
                </div>
                <div class="input-center">
                    <label for="new_skill">Custom Skill</label>
                    <input id="new_skill" name="new_skill" type="text">
                </div>
                <button data-btn="skill-btn" class="button add-zip-btn quad-btn"">Add New Skill!</button>
            </form>
        </div>
        <div class="profile-container-white">
            <div>
                <div class="bio-header">
                    <h4>Service Area</h4>
                </div>
            </div>
            <div class="area-container">
                <form class="edit-skills-form area-zip">
                    <div class="input-center">
                        <label for="zip-code">Zip Code</label>
                        <input id="new_zipcode" name="zip-code" type="text">
                    </div>
                    <button class="button add-zip-btn quad-btn" onclick="add_area(event)">Add Service Area!</button>
                </form>
            </div> 
        </div>
    </div> 
</div>      