<div class="bio-container">
    <div>
        <a uk-icon="icon: pencil" class="edit-icon-btn" href="/edit"></a>
    </div>
    <div>
        <div class="profile-container-white">
            <div>
                <div class="bio-header">
                    <h4>Bio</h4>
                </div>
                <div class="bio-content">
                    <p class="bio">{{ user.provider_bio }}</p>
                </div>
            </div>
        </div>
        <div class="profile-container-white">
            <div>
                <div class="bio-header">
                    <h4>Skills</h4>
                </div>
            </div>
            <div class="skills-list">
               {{#each user.providers_skills as |skill|}}
               {{>skill-details skill}}
               {{/each}}
            </div>
        </div>
    </div>
</div> 