<div class="provider-container">
    <div>
        <div class="bio-header">
            <h4 id="prov-username">{{ username }}</h4>
            <button class="button quad-btn" id='req-svc-btn'>Request services</button>
        </div>
        <div class="request-container" id= "req-container" style="display: none">
            <h4>Request field</h4>
            <div class="request-content">
                <textarea type="text" value="request-text" class="bio" id="request-text" name="request-text" rows="4rows" cols="50"></textarea>
            </div>
            <a class="button quad-btn" id="req-notes-btn">Send request</a>
        </div>
        <div class="bio-content">
            <h4>Bio:</h4>
            <p class="bio">{{ provider_bio }}</p>
        </div>
    </div>
    <div class="skills-list">
        {{#each skill as |skill|}}
        {{>skill-details skill}}
        {{/each}}
    </div>
</div>

<script src="/js/request-service.js"></script>