<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KnickKnacks</title>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
</head>

<body style="background-image: url(/images/paint-1.jpg)">
    <header>
        <nav>
            <a id="home-button" class="button" href="/"><h1>KnickKnacks</h1></a>
            <div class="btn-group">
                {{#if logged_in}}
                <a class="button quad-btn" href="/profile">My Profile</a>
                <button class="button tertiary-btn" id="logout">logout</button>

                {{else}}
                <a class="button primary-btn" href="/login" id="login">Login</a>
                <a class="button secondary-btn" href="/signup">Signup</a>
                {{/if}}
            </div>
        </nav>
    </header>
    <main>
   {{{ body }}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>