<div class="welcome-container">
    <div class="profile-welcome">
        <div>
            <h3>Welcome:</h3>
        </div>
        <div>
            <h3 id="prov-username" class="nowrap" >{{ user.first_name }} {{ user.last_name }}</h3>
        </div>
    </div>
    <div class="request-counter-container">
        <h3 class="nowrap">Request Counter</h3>
        <h1 class="request-counter">{{ user.total_services_provided }}</h1>
    </div>
</div>
{{#if editing }}
{{>profile-edit-details }}
{{else}}
{{>profile-details}}
{{/if}}

