 <div class="hero-statement-container">
            <h2>A Community Board for Everyone!</h2>
            <div class="box-container">
            <div>
                <h3 class="font-dark"><span>Job</span> that needs done?</h3>
            </div>
            <div class="paragraph-container">
                <p class="font-dark">
                    Search for providers. Then create an account and start requesting services.   
                </p>
            </div>
        </div>
        <div class="box-container">
            <div>
                <h3 class="font-dark"><span>Knack</span> you can share?</h3>
            </div>
            <div class="paragraph-container">
                <p class="font-dark">
                    Create a bio to share your unique talent and start receiving requests.   
                </p>
            </div>
        </div>
    </div>


<div class="search-container search-form">
    <div class="search-bar-container">
    <input id="search-bar" type="text" placeholder="Search by zip code...">
    <div class="drop-down">
        <label for='skill' class="">
        <select name="skills" id="skill-list-options" multipe>
        <option selected>Select skill</option>
        <option value="paint">painting</option>
        <option value="mechanic">auto mechanic</option>
        <option value="gardening">gardening</option>
        </select>
    </label>
    </div>
    </div>
    <span uk-icon="icon: search" class="button search-icon-btn" id="search-submit-btn"></span>
</div>

<script src="/js/search.js"></script>