<div class="search-container search-form">
<div class="search-bar-container">
    <input id="search-bar" type="text" placeholder="Search by zip code...">
    <div class="drop-down">
        <label for='skill' class="">
            <select name="skills" id="skill-list-options" multipe>
            {{#each skill_name as |skill_option|}}
            {{>skill-search-details skill_option}}
            {{/each}}
            </select>
        </label>
    </div>
</div>

    <span uk-icon="icon: search" class="button search-icon-btn" id="search-submit-btn"></span>
</div>
 <div class="hero-statement-container">
            <h2>A Community Board for Everyone!</h2>
            <div class="boxes-container">
            <div class="box-container">
            <div>
                <h3 class="font-dark"><span>Job</span> that needs done?</h3>
            </div>
            <div class="paragraph-container">
                <p class="font-dark">
                    Search for providers. Then create an account and start requesting services.   
                </p>
            </div>
        </div>
        <div class="box-container">
            <div>
                <h3 class="font-dark"><span>Knack</span> you can share?</h3>
            </div>
            <div class="paragraph-container">
                <p class="font-dark">
                    Create a bio to share your unique talent and start receiving requests.   
                </p>
            </div>
        </div>
    </div>
</div>

<script src="/js/search.js"></script>