<div class="search-container search-results-search-bar">
<div class="search-bar-container">
    <input id="search-bar" type="text" placeholder="Search by zip code...">
    <div class="drop-down">
        <label for='skill' class="">
            <select name="skills" id="skill-list-options" multipe>
            {{#each skills as |skill_option|}}
            {{>skill-search-details skill_option}}
            {{/each}}
            </select>
        </label>
    </div>
</div>
    <span uk-icon="icon: search" class="button search-icon-btn" id="search-submit-btn"></span>
</div>
{{#each providers as |provider|}}
{{>provider-details provider}}
{{/each}}

<script src="/js/request-service.js"></script>