<div class="search-container search-results-search-bar">
    <div class="search-bar-container">
        <input id="search-bar" type="text" placeholder="Search by zip code...">
        <div class="" id="drop-down">
            <label for='skill' class="">
                <select name="skills" id="skill-list-options" multipe>
                    <option selected>Select skill</option>
                    <option value="paint">painting</option>
                    <option value="mechanic">auto mechanic</option>
                    <option value="gardening">gardening</option>
                </select>
            </label>
        </div>
    </div>
    <span uk-icon="icon: search" class="button search-icon-btn" id="search-submit-btn"></span>
</div>
{{#each providers as |provider|}}
{{>provider-details provider}}
{{/each}}

<script src="/js/request-service.js"></script>