<div>
    <form class="signup-form form-container">
        <h3 class="form-title">Sign Up</h3>
        <div class="form-input">
            <label for="name">first name</label>
            <input type="text" id='first-name' name="first-name" class="form-field" placeholder="Dobbie">
        </div>
        <div class="form-input">
            <label for='name'>last name</label>
            <input type="text" id='last-name' name="last-name" class="form-field" placeholder="The elf">
        </div>
        <div class="form-input">
            <label for="name">username</label>
            <input type="text" id="username" name="username" class="form-field" placeholder="elf96">
        </div>
        <div class="form-input">
            <label for="email">email</label>
            <input type="text" id="email" name="email" class="form-field" placeholder="delf@hogwarts.edu">
        </div>
        <div class="form-input">
            <label for="password">password</label>
            <input type="password" id="password" name="password" class="form-field" placeholder="********">
        </div>
        <div class="btn-form-group">
            <button type="submit" class="button tertiary-btn">Sign Up</button>
            <button href="/login" class="button alt-btn">Login instead</button>
        </div>
    </form>
</div>