:root {

}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

  a {
      text-decoration: none;
  }

  header {
      padding: 40px;
      text-align: center;
  }

  main {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
  }

  