:root {
--grey-01: #7D7B7D;

/* PRIMARY COLOR GROUP 5 */
--pink-05-1: #EBA7A7;
--pink-05-2: #d69898;
--pink-05-3: #C37D92;
--black-05-1: #333;
--black-05-2: rgba(51, 51, 51, 0.863);
--white-05-1: #ffffffdd; 
--grey-05-1: #E2E2E2;
--grey-05-2: #E2E2E261;
--grey-05-3: #5A5766;
--blue-05-1: #87CEEB;
--blue-05-2: #7fbfd8;
--blue-05-3: #478eb4e5;

--purple-05-1: #beb4ee;
--purple-05-2: #a59bcc;
--purple-05-3: #a59bcc;
--green-05-1: #1C7C54;
--green-05-2: #1a6847;
--green-05-3: #1a6848d0;
--green-05-4: #22c581;


--wood-05-1: #F8DFC1AA;
--yellow-05-1: #FEB300;
--yellow-05-2: #f8d583;
--yellow-05-3: #f8cc64;

}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: aqua;
}

header {
    padding: 10px;
    background-color: var(--grey-05-2);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;

}

textarea {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    min-width: 300px;
    resize: none;
}

/* LINKS */
a {
    text-decoration: none;
    color: #333;
}

/* HEADERS AND PARAGRAPHS */
h1, h2, h3, p {
    color: #fff;
    margin: 0; 
}

h2 {
    margin: 48px;
}

h3, p {
    margin: 4px;
}

h4 {
    margin: 0;
    color: #333;
}
 
.paragraph-container {
    text-align: center;
    line-height: 1.6;
    max-width: 100%;
    margin: 6px;
}

.grn-font {
    color: var(--green-05-4)
}

/* HERO ITEMS */
.hero-statement {
    color: #fff;
    background-color: var(--green-05-3);
    padding: 6px 12px; 
    border-radius: 10px;  
    text-align: center;
    min-width: 300px;
}

.hero-statement-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #fff;
    border-radius: 25px;
    padding: 6px;
    max-width: 300px;
    min-width: 300px;
    background-color: var(--white-05-1);
    margin: 10px;
}

.padding-1 {
    padding: 30px;
}

.font-dark {
    color: #333;
    text-align: center;
}

span {
    font-weight: 800;
}


/* BUTTONS */

.button {
    border-radius: 6px;
    border: none;
    padding: 4px 12px;
    margin: 4px 10px;
    font-size: 14px;
    /* opacity: 1; */
}

.primary-btn {
    background-color: var(--pink-05-1);

}

.primary-btn:hover {
    background-color: var(--pink-05-2);

}

.secondary-btn {
    background-color: var(--blue-05-1);
}

.secondary-btn:hover {
    background-color: var(--blue-05-2);
}

.tertiary-btn {
    background-color: #fff;
}

.tertiary-btn:hover {
    background-color: rgb(228, 228, 228);
}

.quad-btn {
    background-color: var(--green-05-1);
    color: #fff;
}

.quad-btn:hover {
    background-color: var(--green-05-2);

}

.alt-btn {
    color: #fff;
    background-color: var(--black-05-2);
}


.alt-btn:hover {
    background-color: var(--green-05-1);
}


#home-button {
    font-family: 'Press Start 2P', cursive;
    margin-left: 20%;
}
    
.btn-group {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 6px;
    flex-wrap: nowrap;
}
    
.btn-form-group {
    margin: 12px 0px
}

.edit-skills-btn-group {
    display: flex;
    align-items: center;
}

/* CHECKBOX */

.checkbox-container {
    white-space: nowrap;
    display: block;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 6px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white-05-1);
    z-index: -1;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: var(--yellow-05-3);
}

/* .checkbox-container input:checked ~ .checkmark {
    background-color: var(--green-05-4);
    border: solid 2px var(--grey-01);
} */

.check-button-default {
    background-color: var(--white-05-1);
}

.check-button-selected {
    background-color: var(--green-05-4);
    border: solid 2px var(--grey-01);
}
 
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid rgba(255, 255, 255, 0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ICON BUTTONS */
.search-icon-btn {
    border-radius: 50px;
    padding: 4px 6px;
}

.search-icon-btn:hover {
    background-color: rgb(228, 228, 228);
}

.edit-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-05-1);
    border-radius: 50px;
    padding: 6px 6px;
}

.edit-icon-btn:hover {
    background-color: var(--grey-05-1);
}

.save-icon-btn {
    border-radius: 50px;
    padding: 4px 6px;
}

.save-icon-btn:hover {
    border-radius: 50px;
    padding: 4px 6px;
    background-color: greenyellow;
}

.cancel-icon-btn {
    border-radius: 50px;
    padding: 4px 6px;
}

.cancel-icon-btn:hover {
    border-radius: 50px;
    padding: 4px 6px;
    background-color: red;
}

/* SEARCH BARS */

input:focus {
    outline: none;
}

#search-bar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    font-size: 16px;
    padding: 6px 16px;
}

.search-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--wood-05-1);
    padding: 4px 12px;
    border-radius: 20px;
    margin-top: 30px;
}

.search-bar-container {
    display: flex;
    background-color: #fff;
    border-radius: 50px;

}

.search-results-search-bar {
    margin: 32px;
}


/* DROP DOWNS */
select {

    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 16px;
    padding: 6px 6px;
    line-height: 3;
    width: 140px;
}

select:focus {
    outline: none;
}


.drop-down {
    position: relative;
    width: fit-content;

}

/* FORMS */
form {
    display: flex;
    flex-direction: column;
    margin: 12px 40px;
    width: 100%;
    margin: 20px;
}

.form-title {
    margin-bottom: 32px;
}

.form-input {
    display: flex;
    flex-direction: column;  
    background-color: var(--white-05-1);
    padding: 0px 16px 8px 16px;
    border-radius: 40px;
    margin-bottom: 10px;
}

label {
    font-weight: 700;
    color: #333;
    margin-bottom: 4px;
    margin-top: 8px;
}

.form-field {
    border-radius: 50px;
    border: none;
    font-size: 16px;
    padding: 4px 8px;
}


.form-container {
    border: solid 2px #fff;
    border-radius: 25px;
    padding: 15px;
    background-color: rgba(51, 51, 51, 0.863);
}

.skills-options-list {
    display: flex;  
    flex-wrap: wrap; 
}

.skill-option {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 16px;
}

/* SEND REQUEST FORM */
.request-header {
    display: flex;
    justify-content: space-between;
}

.request-content {
    padding-right: 15px;
    margin-bottom: 15px;
}
 
#req-notes-btn {
    /* margin-bottom: 40px; */
}

.request-container {
    margin-bottom: 15px;
}

/* BIO */
.bio-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    border: solid 2px #fff;
    border-radius: 25px;
    padding: 15px;
    width: fit-content;
}

.provider-container {
    margin: 12px 10%;
    padding: 12px 12px;
    background-color: var(--white-05-1);

    border-radius: 6px;
}

.bio-header {
    display: flex;
    justify-content: space-between;
}


.bio {
    padding: 6px 6px;
    color: #333;
}

.bio-content {
   padding-right: 15px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.skills-item {
    color: #333;
    background-color: var(--yellow-05-1);
    border-radius: 20px;
    padding: 4px 12px;
    margin: 4px 8px 4px 0px;
    font-size: 14px;
}


/* PROFILE ITEMS */

.welcome-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.profile-welcome {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    font-size: 28px;
    background-color: var(--green-05-3);
}

.profile-container-white {
    color: #333;
    margin: 10px 10px;
    padding: 12px 12px;
    min-width: 300px;
    background-color: #ffffffdd;
    border-radius: 6px;
}

.nowrap {
    white-space: nowrap;
}

.request-counter-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px;
    background-color: var(--green-05-3);
    border-radius: 20px;
    margin: 15px;
}

.request-counter {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    text-align: center;
    height: 50px;
    width: 50px;
    border: solid 2px #fff;
    border-radius: 50px;
    background-color: var(--green-05-3);
}


/* MEDIA QUERIES */
@media only screen and (max-width: 784px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #home-button {
        margin-left: 0;
    }
}


@media only screen and (max-width: 580px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #home-button {
        margin-left: 0;
    }
}